@tailwind base;
@tailwind components;
@tailwind utilities;

.dark h1, .dark h2, .dark li {
    color:gainsboro;
    font-family:'Courier New', Courier, monospace;
}

h1, h2, li {
    color:#464646;
    font-family:'Courier New', Courier, monospace;
}

.dark {
    background-color: #2f3030;
    color:ghostwhite;
}

.match {
    width:15rem;
    height:15rem;
}

.slight-round {
    border-radius: 15px;
}

.centered-panel {
    min-height: 100vh;
}

.centered-box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.centered-box-content{
    background-color:rgb(236, 236, 236);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 15px 6px rgb(133, 133, 133);
    width: 35rem;
}

.dark .centered-box-content {
    background-color:#464646;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0px 15px 6px rgba(29, 29, 29, 0.76);
    width: 35rem;
}
